.process-heading-container {
  position: relative;
  text-align: center;
  margin-bottom: 4rem;
  padding: 0 1rem;
  overflow-wrap: break-word;
  max-width: 100%;
}

.process-background {
  font-size: 8vw;
  font-weight: 800;
  opacity: 0.05;
  margin: 0;
  position: relative;
  z-index: 1;
  letter-spacing: 2px;
  color: transparent;
}

.process-foreground {
  font-size: 2rem;
  font-weight: 800;
  margin-top: -6.5vw;
  position: relative;
  z-index: 2;
}

.process-description {
  font-size: 1rem;
  font-weight: 400;
  max-width: 700px;
  margin: 1.5rem auto 0;
  margin-top: 40px;
  margin-bottom: 0px;
  color: #444;
  line-height: 1.6;
  z-index: 2;
  position: relative;
  text-align: center;
  padding: 0 1rem;
}

/* Responsive tweak */
@media (max-width: 768px) {
  .process-background {
    font-size: 50px;
  }

  .process-foreground {
    font-size: 22px;
  }

  .process-description {
    font-size: 0.95rem;
    line-height: 1.5;
  }
}