.popup-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.popup-text h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #7349ac;
}

.popup-cta {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.popup-button,
.global-timer-box {
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup-button {
  background-color: #7349ac;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-button:hover {
  background-color: #542e80;
}

.popup-image img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .popup-panel {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .popup-text {
    flex: 1;
    padding-right: 1rem;
  }

  .popup-image {
    flex: 1;
    text-align: right;
  }

  .popup-image img {
    max-width: 90%;
  }
}

@media (max-width: 768px) {

  .popup-button,
  .global-timer-box {
    padding: 0.75rem 1.2rem;
    font-size: 0.8rem;
    line-height: 1.2;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
   .popup-image img {
    max-width: 70%;
  }
   .popup-image {
    flex: 1;
    text-align: center;
  }
}