/* Engagement Section */
.engagement-showcase-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 500px;
  background-color: #f5f0ff;
  flex-direction: column;
  margin-bottom: 100px;
  padding-top: 20px;
}

.engagement-space {
  margin-bottom: 100px;
}

.engagement-showcase-wrapper {
  display: flex;
  align-items: center;
}

.engagement-left,
.engagement-right {
  flex: 1 1 50%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.engagement-left {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.engagement-image {
  max-width: 300px;
  width: 40%;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out;
}

.engagement-right {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  align-items: center;
  text-align: center;
}

.company-logo-bg {
  align-items: center;
  text-align: center;
  max-width: 150px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.engagement-text {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.engagement-text-wrapper {
  display: block;
  width: 100%;
}

.engagement-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.engagement-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.engagement-arrows {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.engagement-slider-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 800px;
  z-index: 2;
}

.engagement-arrow {
  background: none;
  border: none;
  color: #7349ac;
  font-size: 2.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.engagement-arrow:hover {
  color: #fcddec;
}

/* Vertical layout for Mobile */
@media (max-width: 768px) {
  .engagement-showcase-section {
    margin-bottom: 0px;
    padding-top: 50px;
  }

  .engagement-showcase-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }

  .engagement-image {
    width: 60%;
  }

  .engagement-right {
    background-color: transparent;
    color: #7349ac;
    border: none;
  }

  .engagement-arrow {
    color: #7349ac;
  }

  .engagement-space {
    margin-bottom: 0px;
  }

  .company-logo-bg {
    max-width: 100px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
}